/* general */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

/* utilities */

img {
    height: 100%;
}

.font-grey {
    color: rgb(191, 191, 191);
}

.margin {
    margin-top: 30px;
    margin-bottom: 30px;
}

.img-article {
    border-radius: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

.layer {
    background-color: rgba(0, 0, 0, 0.2);
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

/* header */

.main-header {
    margin-bottom: 30px;
}

#logo {
    height: 50px;
    padding-left: 5px;
}

#logo img {
    padding-right: 5px;
    border-right: 1px solid lightgray;
}

nav ul {
    padding-left: 5px;
}

nav li {
    list-style-type: none;
    display: inline-block;
    padding-right: 5px;
    padding-top: 30px;
}

nav li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
}

/* first section */

.first-section {
    color: white;
    margin-bottom: 30px;
}

.img-article.bg {
    height: 400px;
    background-image: url('../img/banner.jpg');
}

.first-section .layer {
    height: 400px;
    padding-left: 40px;
    padding-top: 230px;
    font-weight: lighter;
}

.layer h2 {
    font-size: 30px;
    font-weight: lighter;
}

.layer p {
    font-weight: lighter;
}


/* second section */

.second-section {
    margin-top: 30px;
}

.second-section .leadership-header {
    padding-bottom: 15px
}

.second-section .leadership-header h1 {
    font-size: 30px;
    font-weight: bold;
}

.second-section .columns {
    padding-top: 15px;
}

.second-section .columns .col {
    float: left;
    width: 20%;
}

.columns .col.large {
    width: 60%;
    padding: 0 30px;
}

.img-article.left {
    height: 170px;
    background-image: url('../img/img-1.jpg');
}

.img-article.center {
    height: 170px;
    background-image: url('../img/banner-2.jpg');
}

.img-article.right {
    height: 170px;
    background-image: url('../img/img-3.jpg');
}

.columns .layer {
    height: 200px;
}

.columns h3{
    padding: 20px 0;
    font-weight: 300;
}

/* footer */

footer {
    text-align: center;
    font-weight: 300;
}

.fa-heart {
    color: red;
}